<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MasterThesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MasterThesis.Properties.Settings>
            <setting name="remoteConnection" serializeAs="String">
                <value>ryandel.selfhost.me</value>
            </setting>
            <setting name="vdsPort" serializeAs="String">
                <value>8801</value>
            </setting>
            <setting name="sdsPort" serializeAs="String">
                <value>8802</value>
            </setting>
            <setting name="cesPort" serializeAs="String">
                <value>8803</value>
            </setting>
            <setting name="poiPort" serializeAs="String">
                <value>8808</value>
            </setting>
            <setting name="vin" serializeAs="String">
                <value>WP0ZZZ94427</value>
            </setting>
            <setting name="mssPort" serializeAs="String">
                <value>8806</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comPortActor" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="baudRateActor" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="NAVApplication" serializeAs="String">
                <value>C:/Program Files (x86)/Navigator14/PC_Navigator/PC_Navigator.exe</value>
            </setting>
            <setting name="NAVApplication_Params" serializeAs="String">
                <value>--atlas='C:/ProgramData/Navigator/14.1/atlas_pcn_free.idc'</value>
            </setting>
        </MasterThesis.Properties.Settings>
    </applicationSettings>
</configuration>