# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/MasterThesis/bin
/MasterThesis/obj
/MasterThesis/obj
/MasterThesis/bin
/MasterThesis/bin
/MasterThesis/obj
/.vs
/eureka-mirror/bin/Release/Newtonsoft.Json.dll
/eureka-mirror/bin/Release/Newtonsoft.Json.xml
/eureka-mirror/bin/Release/eureka-mirror.exe
/eureka-mirror/bin/Release/eureka-mirror.exe.config
/eureka-mirror/bin/Release/eureka-mirror.pdb
/eureka-mirror/bin/Release/eureka-sharpener.dll
/eureka-mirror/bin/Release/eureka-sharpener.pdb
/eureka-mirror/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/eureka-mirror/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/eureka-mirror/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/eureka-mirror/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/eureka-mirror/obj/Release/eureka-mirror.csproj.CopyComplete
/eureka-mirror/obj/Release/eureka-mirror.csproj.CoreCompileInputs.cache
/eureka-mirror/obj/Release/eureka-mirror.csproj.FileListAbsolute.txt
/eureka-mirror/obj/Release/eureka-mirror.csprojResolveAssemblyReference.cache
/eureka-mirror/obj/Release/eureka-mirror.exe
/eureka-mirror/obj/Release/eureka-mirror.pdb
/eureka-sharpener/bin/Release/Newtonsoft.Json.dll
/eureka-sharpener/bin/Release/Newtonsoft.Json.xml
/eureka-sharpener/bin/Release/eureka-sharpener.dll
/eureka-sharpener/bin/Release/eureka-sharpener.pdb
/eureka-sharpener/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/eureka-sharpener/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/eureka-sharpener/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/eureka-sharpener/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/eureka-sharpener/obj/Release/eureka-sharpener.csproj.CopyComplete
/eureka-sharpener/obj/Release/eureka-sharpener.csproj.CoreCompileInputs.cache
/eureka-sharpener/obj/Release/eureka-sharpener.csproj.FileListAbsolute.txt
/eureka-sharpener/obj/Release/eureka-sharpener.dll
/eureka-sharpener/obj/Release/eureka-sharpener.pdb
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/eureka_sharpener_test/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/eureka_sharpener_test/bin/Release/Newtonsoft.Json.dll
/eureka_sharpener_test/bin/Release/Newtonsoft.Json.xml
/eureka_sharpener_test/bin/Release/de/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/eureka_sharpener_test/bin/Release/de/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/eureka_sharpener_test/bin/Release/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/eureka_sharpener_test/bin/Release/eureka-sharpener.dll
/eureka_sharpener_test/bin/Release/eureka-sharpener.pdb
/eureka_sharpener_test/bin/Release/eureka_sharpener_test.dll
/eureka_sharpener_test/bin/Release/eureka_sharpener_test.pdb
/eureka_sharpener_test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/eureka_sharpener_test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/eureka_sharpener_test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/eureka_sharpener_test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.csproj.CopyComplete
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.csproj.CoreCompileInputs.cache
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.csproj.FileListAbsolute.txt
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.csprojResolveAssemblyReference.cache
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.dll
/eureka_sharpener_test/obj/Release/eureka_sharpener_test.pdb
