<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eureka_mirror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <eureka_mirror.Properties.Settings>
            <setting name="remoteUrl" serializeAs="String">
                <value>ryandel.selfhost.me</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>8761</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>8761</value>
            </setting>
        </eureka_mirror.Properties.Settings>
    </applicationSettings>
</configuration>